*.DS_Store
Manifest.toml
*.vscode
*.vtu
*.pvd
new*
*vtk*
*.sum
*.ech
*OLAF*.dat
*strut*.dat
*IW*.dat
*blade*.dat
*ADInput*.dat
*.docx
*COMPILED*
*.out
*.h5
*h5*
*.mat
*.png
*.gif
*.pdf
*.mp4
*turbsim*/
*animation/
*.bts
*.jld*
*.cov

# Generated test logs
test/*.log

# Generated XFOIL and airfoil polar workflow outputs
examples/NACA0018/
examples/airfoils/NACA_0018_decreasing_aoa.dat
examples/airfoils/NACA_0018_increasing_aoa.dat
examples/airfoils/S8038_top_symmetric.csv
examples/airfoils/S8038_top_symmetric.dat
