*.DS_Store
Manifest.toml
*.vscode
*.vtu
*.pvd
new*
*vtk*
*.sum
*.ech
*OLAF*.dat
*strut*.dat
*IW*.dat
*blade*.dat
*ADInput*.dat
*.docx
*COMPILED*
*.out
*.h5
*h5*
*.mat
*.png
*.gif
*.pdf
*.csv
*.mp4
*turbsim*/
*animation/